@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

* {
    margin: 0;
}

body {
    background-image: url(wp11880821-java-programmer-wallpapers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#logo {
    position: absolute;
    width: 25vh;
    height: 9vh;
    left: 12vh;
    top: 7vh;
}


header ul {
    text-align: center;
    padding-top: 15px;
}

header ul li {
    display: inline-flex;
    vertical-align: middle;
    padding: 15px;
    flex-direction: column-reverse;
}

header ul li a {
    background-color: #3f3f3f;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

ul li :hover {
    color: #000000;
}

.backgroundcolor1 {
    position: absolute;
    width: 46vw;
    height: 40vh;
    left: 2vw;
    top: 34vh;

    background: rgb(28, 28, 28);
    border-radius: 20px;
    border: 3px solid rgb(74, 74, 74,0.8);
}

.backgroundcolor2 {
    position: absolute;
    width: 46vw;
    height: 40vh;
    left: 51vw;
    top: 34vh;

    background: rgb(28, 28, 28);
    border-radius: 20px;
    border: 3px solid rgb(74, 74, 74,0.8);
}

.backgroundprincipal {
    position: absolute;
    width: 97vw;
    height: 45vh;
    left: 1vw;
    top: 32vh;

    background: #343434;
    border-radius: 20px;
    border: 3px solid rgb(74, 74, 74,0.8);
}

.textobackground {
    position: absolute;
    width: 43vw;
    height: 35vh;
    left: 3.5vw;
    top: 37vh;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: 35px;
    text-align: center;
    color: #FFFFFF;

}

.textobackground2 {
    position: absolute;
    width: 43vw;
    height: 35vh;
    left: 53vw;
    top: 37vh;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: 35px;
    text-align: center;

    color: #FFFFFF;
}

.backgroundcertificados {
    position: absolute;
    width: 32vw;
    height: 11vh;
    left: 35vw;
    top: 86vh;

    background: #343434;
    border-radius: 20px;
    border: 3px solid rgb(74, 74, 74,0.8);
}

.certificadostitulo {
    position: absolute;
    width: 800px;
    height: 10px;
    left: 30vw;
    top: 89vh;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    line-height: 53px;
    text-align: center;

    color: #FFFFFF;
}

.backgroundgolang {
    position: absolute;
    width: 800px;
    height: 450px;
    left: 30vw;
    top: 140vh;

    background: url(cfgo.png);
    border-radius: 50px;
    background-size: cover;
}

.background {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 80vw;
    top: 105vh;

    background: url(cf1.png);
    background-size: cover;
    border-radius: 150px;
    animation: zoomInOut 3s ease-in-out infinite alternate;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.background2 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 5vw;
    top: 105vh;

    background: url(cf2.png);
    background-size: cover;
    border-radius: 150px;
    animation: zoomInOut 3s ease-in-out infinite alternate;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.background3 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 20vw;
    top: 105vh;

    background: url(cf3.png);
    background-size: cover;
    border-radius: 150px;
    animation: zoomInOut 3s ease-in-out infinite alternate;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.background4 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 35vw;
    top: 105vh;

    background: url(CF4.png);
    background-size: cover;
    border-radius: 150px;
    animation: zoomInOut 3s ease-in-out infinite alternate;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.background5 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 50vw;
    top: 105vh;

    background: url(CF5.png);
    background-size: cover;
    border-radius: 150px;
    animation: zoomInOut 3s ease-in-out infinite alternate;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.background6 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 65vw;
    top: 105vh;

    background: url(CF6.png);
    background-size: cover;
    border-radius: 150px;
    animation: zoomInOut 3s ease-in-out infinite alternate;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 480px) {
    #logo {
        width: 40vw;
        height: auto;
        left: 30vw;
        top: 20vw;
    }

    header ul {
        border: 0;
        padding: 0;
        padding-top: 20px;
        /* exemplo de valor de padding-top */
    }

    header ul li {
        padding: 5px;
        font-size: 16px;
    }

    header ul li a {
        padding: 10px;
        font-size: 16px;
    }

    .backgroundprincipal {
        width: 85vw;
        height: 165vh;
        left: 7vw;
        top: 25vh;
        background: #343434;
        border-radius: 15px;
    }

    .textobackground {
        position: absolute;
        width: 80vw;
        height: 102vh;
        left: 9vw;
        top: 27vh;

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: normal;
        font-size: 15px;
        text-align: center;

        color: #FFFFFF;
    }
}


/* .background-instagram:after {
        position: absolute;
        content: "";
        bottom: -40px;
        height: 40px;
        width: 1px;
    }
    *\